@font-face {
  font-family: Amatic;
  src: url(./assets/Amatic_SC/AmaticSC-Regular.ttf);
  font-weight: normal;
  font-style: normal;
 
}
@font-face {
  font-family: Amatic-bold;
  src: url(./assets/Amatic_SC/AmaticSC-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
*{
  margin: 0%;
}
body{
  font-family: Amatic;
  margin: 0%;
  width: 100vw;
  height: 100vh;
}

header{
  font-family:Amatic-bold ;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
a{
  text-decoration: none;
}
.navLink{
  color: black;
  font-size: x-large;
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  display: flex;
  justify-content: center;
}
a:hover{
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
}
main{
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;

}
.gameTitle{
  font-family: Amatic-bold;
}
/* -------------------TICTACTOE */
.card {
  padding: 2em;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
  font-family: Amatic-bold;
  font-size: 40px;
}

.cell:hover{
  cursor: pointer;
  background-color: whitesmoke;
  color: black ;
}
.inputContainer{
  display: flex;
}
.ticPlayingWindow{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ticBoardWindow{

}

.ticValueButtons{
  display: flex;
  gap: 10px;
}
/* -------------------HANGMAN */
.hangmanContainer{
  height: 80vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hangmanContainer > h1 {
  font-family: Amatic-bold;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.lettersContainer{

height: 30vw;
width: 70vw;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 10px;
}
.letterButton{
height: 80px;
}
.wrongLetter{
  background-color: red;
}

/*

  <div style={{display: grid}}>
    <div id="cell_1-1" />
    <div id="cell_1-2" />
    <div id="cell_1-3" />
    <div id="cell_1-4" />
    ....
    <div id="cell_9-8" />
    <div id="cell_9-9" />
  </div>

  <div style={{display: flex; flex-direction: column}}>
    <div id="row_1" style={{display: flex; flex-direction: row}>
      <div id="cell_1-1" />
      <div id="cell_1-2" />
      <div id="cell_1-3" />
      <div id="cell_1-4" />
    </div>
    <div id="row_2">
    ....
    <div id="cell_9-8" />
    <div id="cell_9-9" />
  </div>

*/

/* -------------------SUDOKU */
.sudokuContainer{
  display: flex;
  flex-direction: column;
}
.columnSpace{
  width: 10px;
}
.rowSpace{
 height: 10px;

}
.sudokuGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} 
.sudokuCell{
  height: 50px;
  width: 50px;
  border: 1px solid grey; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight:900;
}
.modifySudoku{
  display: flex;
  width: fit-content;
  gap: 30px;
  margin: 10px;
}
.refreshSudoku{
  display: flex;
  width: fit-content;
  gap: 30px;
  margin: 10px;
}
.numberButtonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.numberButtons{
  height: 80px;
  font-family:Arial, Helvetica, sans-serif;
}