#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
}

.cell:hover{
  cursor: pointer;
  background-color: whitesmoke;
  color: black ;
}
.inputContainer{
  display: flex;
}

/* -------------------HANGMAN */
.wrongLetter{
  background-color: red;
}

/* -------------------SUDOKU */
.sudokuBoard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.sudokuGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
}
.sudokuCell{
  height: 50px;
  width: 50px;
}